::-webkit-scrollbar {
    /* width: 0; */
    /* For Chrome, Safari, and Opera */
}

html {
    /* scrollbar-width: none; */
    /* For Firefox */
}

body {
    font-family: 'Quicksand', 'sans-serif' !important;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    /* background-color: beige; */
}

h1 {
    /* font-size: 2em; */
    font-size: calc(max(calc(4vw / (3 / 2)), calc(2 * 10px)) / 1.2);
    user-select: none;
}

h2 {
    /* font-size: 1.5em; */
    font-size: calc(max(calc(4vw / (3 / 1.5)), calc(1.5 * 10px)) / 1.2);
    user-select: none;
}

h3 {
    /* font-size: 1.17em; */
    font-size: calc(max(calc(4vw / (3 / 1.17)), calc(1.17 * 10px)) / 1.2);
    user-select: none;
}

h6 {
    font-size: calc(max(calc(4vw / (3 / 1)), 10px) / 1.2);
    user-select: none;
}

p {
    /* font-size: 1em; */
    font-size: calc(max(calc(4vw / (3 / 1)), 10px) / 1.2);
    user-select: none;
}

input {
    /* font-size: 1.17em; */
    font-size: calc(max(calc(4vw / (3 / 1.17)), calc(1.17 * 10px)) / 1.2);
    user-select: none;
    font-weight: bold;
}

.small-p {
    /* font-size: 1em; */
    font-size: calc(max(calc(4vw / (3 / 0.75)), calc(0.75 * 10px)) / 1.2);
    user-select: none;
}

.youtube_video iframe {
    /* width: 100%; */
    aspect-ratio: 1;
    height: 100%;
    width: 100%;
}

button:not([class="standard-button"]),
input[type="submit"]:not([class="standard-button"]),
input[type="reset"]:not([class="standard-button"]) {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

[id^="zoid-paypal-buttons-uid_"] {
    z-index: 1;
}

.carousel-item {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
}