::-webkit-scrollbar {
    width: 0;
    /* For Chrome, Safari, and Opera */
}

html {
    scrollbar-width: none;
    /* For Firefox */
}

body {
    font-family: 'Quicksand', sans-serif;
    padding: 0;
    margin: 0;
    background-color: '#2B61AA';
}

h1 {
    /* font-size: 2em; */
    font-size: min(calc(4vw), 2em);
}

h2 {
    /* font-size: 1.5em; */
    font-size: min(calc(4vw / ( 2 / 1.5 )), 1.5em);
}

h3 {
    /* font-size: 1.17em; */
    font-size: min(calc(4vw / ( 2 / 1.17 )), 1.17em);
}

p {
    /* font-size: 1em; */
    font-size: min(calc(4vw / ( 2 / 1 )), 1em);
}

.react-tabs__tab::after {
    content: none;
    display: none;
}

.react-tabs__tab-list {
    margin: 0px;
    padding: 0px;
    bottom: 0px;
}